section
    h2
        span Объекты:&ensp;
        a(href="https://learn.javascript.ru/task/is-empty" target="_blank") Проверка на пустоту
    p Напишите функцию isEmpty(obj), которая возвращает true, если у объекта нет свойств, иначе false.

    pre
        code
            include index.js