body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

input, button, p {
    width: 100%;
    max-width: 300px;
    margin-bottom: 10px;
    color: blue;
}

.panda {
    background-image: url("img/panda.jpg");
    background-size: auto 200px;
    background-repeat: no-repeat;
}