doctype html
html
    head
        title Статическая страница
        meta(charset="utf-8")
        meta(content="ie=edge" http-equiv="x-ua-compatible")
        meta(name='viewport' content='width=device-width,initial-scale=1')
    body
        h1 JS
        include task-1/index.pug
